h1 {
padding-left: 500px;
padding-right: 475px;
padding-top:50px;
color:white;
}

#para1{
  padding-left:100px;
  padding-right:100px;
  font-size:25px;
  padding-top:40px;
  color:beige;
}

h2{
  padding-left: 435px;
  padding-right: 300px;
  color:white;
}


#textbox{
  padding-top: 1px;
  top: 1px;




body {
background-image: url("487725.jpg");
background-size:cover;
}
